<div class="container my-3">
  <% if @lists.any? %>
    <% @lists.each do |list| %>
      <h1><%= list.name %></h1>
    <% end %>
  <% else %>
    <h1>There are no lists</h1>
  <% end %>
  <%= link_to "Add", new_list_path, class: 'btn btn-primary' %>
</div>
